.body {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
}
/*header*/
.header {
  background-color: #e7e9fc;
}
.header-navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.logo {
  text-decoration: none;
}
.logo-web {
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  font-family: "Raleway" sans-serif;
}
.logo-studio {
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  letter-spacing: 0.03em;
}
.header-list {
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-adress {
}

.info {
  font-family: "Roboto" sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
