:root {
  --main-title-color: #ffff;
  --second-title-color: #2e2f42;
  --main-btn-color: #4d5ae5;
  --hover-btn-color: #404bbf;
  --background-btn-color:#E7E9FC;
  --main-web-logo-color:#4d5ae5;
  --second-studio-logo-color:#2e2f42;
}

.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  font-weight: 400;
}
/**-------HEADER---------*/
.header {
  background-color: #fff;
}
.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.logo{
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   text-transform: uppercase;
   letter-spacing: 0.03em;
}
.color{
  color: var(--main-web-logo-color);
}

.logo-studio{
  color: var(--second-studio-logo-color,#2e2f42);
}



.list {
  list-style: none;
}

.header-list {
}
.link {
  text-decoration: none;

  
}
.link-menu{
text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.link-menu:focus,
.link-menu:hover {
  color: var(--main-btn-color);
}
a:active{
   color: #404bbf;
}

.header-adress{
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info:hover,
.info:focus{
   color: #404bbf;
}
.header-adress-mail {
}
.info {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-adress-tel {
}
/**-------Section Solitions---------*/
.solution-info {
  background: #2e2f42;
}
.solution-info-titile {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.solution-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--main-btn-color);
}
.solution-btn:is(:hover, :focus) {
  background-color: var(--hover-btn-color);
  border-radius: 4px;
  cursor: pointer;
}
.section-info {
}
.info-title {
  color: #ffffff;
}
.info-list {
}
.info-list-strategy {
}
.info-list-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.info-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info-list-punctuality {
}
.info-list-diligence {
}
.info-list-technologies {
}

/**-------Section Title---------*/
.section-title {
}
.main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.main-image-list {
}
.devices {
}
.devices-item {
}
/**-------Section Team---------*/
.team {
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
}
.team-item {
}
.hero {
}
.hero-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*!-------Portfolio---------*/
/**-------Section Buttons---------*/
.section-buttons {
}
.buttons-title {
  color: #ffffff;
}
.buttons-list {
}
.button-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-btn-color)
}
.button{
  
}
.button-port{
  cursor: pointer;
  
    
}
.button-port:is(:hover, :focus) {
  color: var(--main-title-color)
  background-color: var(var(--hover-btn-color));

}

/**-------Section Galery---------*/
.section-galery {
}
.galery-title {
  color: #ffffff;
}
.galery-list {
}
.galery-img {
}

.galery-main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.galery-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/**-------Footer---------*/
.footer {
  background: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-web-logo-color);
  text-decoration: none;
}

.logo-studio-footer{
    font-family: "Raleway", sans-serif;
  font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color:var(--background-btn-color)
}
.logo-studio-footer>span{
  color: var(--main-web-logo-color)}