.body {
  font-family: roboto; sans-serif;
  font-style: normal;
  color:#434455 ;
  font-weight: 400;
}
/*header*/

.header-navigation{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}

.logo{
    text-decoration: none;
}
.logo-web{
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #4D5AE5;
letter-spacing: 0.03em;
font-family: 'Raleway';
}
.logo-studio{
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #2E2F42;
letter-spacing: 0.03em;
}
.header-list .link{
   text-decoration: none;
}